<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../../css/mui.min.css" />

		<link rel="stylesheet" href="../../../css/bootstrap.min.css" />


		<title>工时详情</title>
		
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1  id='sharecontent' class="mui-title">客户收支报表-客户</h1>
			
			<!--<a onclick="shareShow('预算明细','http://www.baidu.com','预算明细','预算明细','')" class="mui-pull-right">分享</a>-->
		</header>
		<div class="mui-content container">
			<div class="work_details">
				<div class="approve_process bs">
				
					<div class="approve_process_content">
						<div class="approve_state">
							<!--<ul id="approveProcess">

							</ul>-->
						 
  <TABLE   id="list"  class="table1 table-striped  >
<thead>
	
   <TR height="30px" > 
  
    <th   >客户</th>
   
                <th  class='text-center'  >
      电话</th>
       <th class='text-right'  >
      应收款</th>
    
    <th  class=' text-right'  >
      收到定金</th>
 <th class=' text-right'   >
 	收到装修款</th>
    <th   class=' text-right' >
      未收金额</th>

      
     </TR>
  
    <!--<th   width="34%">
      <DIV align=center><b><font size="0.8">客户</font></b></DIV></th>
   
                <th   width="17%" >
      <DIV align=center><b><font size="0.8">电话</font></b></DIV></th>
       <th   width="17%" >
      <DIV align=center><b><font size="0.8">应收金额</font></b></DIV></th>
    
    <th   width="17%" >
      <DIV align=center><b><font size="0.8">收到定金</font></b></DIV></th>
 <th   width="17%" >
 	<DIV align=center><b><font size="0.8">收到装修款</font></b></DIV></th>
   <th   width="17%" >
 	<DIV align=center><b><font size="0.8">未收金额</font></b></DIV></th>
   
      
     </TR>-->
</thead>      
  <TBODY>      
 
  <tfoot>
  
      
  </tfoot>
</TABLE>
 
 
						</div>
					</div>
				</div>

			</div>
			 
		</div>
	</body>
	<script src="../../../js/common/zepto.min.js"></script>
	<script src="../../../js/common/app_gqe.js"></script>
	<script type="text/javascript" src="../../../js/mui/mui.min.js"></script>
	<script type="text/javascript" src="../../../js/controllers/common.js"></script>
	<script src="../../../js/controllers/approve/finance/f_customer_receive_detail.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="../../../js/controllers/share.js"></script>
<script type="text/javascript" src="../../../js/controllers/sharecommon.js"></script>
</html>