<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../../css/mui.min.css" />
		<link rel="stylesheet" href="../../../css/bootstrap.min.css" />
		<!--<link rel="stylesheet" href="../../../css/list.css" />
		<link rel="stylesheet" href="../../../css/style_sc.css" />
		<link rel="stylesheet" href="../../../css/reset.css" />-->
		<title>客户款项明细</title>
		
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1  id='sharecontent' class="mui-title">客户款项明细</h1>
			
			<!--<a onclick="shareShow('预算明细','http://www.baidu.com','预算明细','预算明细','')" class="mui-pull-right">分享</a>-->
		</header>
		<div class="mui-content container">
			<div class="work_details">
				<div class="approve_process bs">
				
					<div class="approve_process_content">
						<div class="approve_state">
				<ul><li>			
<table width="100%" border="0" height="50px" style="font-size: 16px;">
  <tr>
    <td class='text-right' >客户：</td>
    <td class='text-left' ><span id='name'></span></td>
    <td >&nbsp;</td>
    <td class='text-right'>电话：</td>
    <td class='text-left'><span id='tel'></span> <a id='htel' href="">呼叫</a></td>
  </tr>
  <tr>
    <td class='text-right' >地址：</td>
    <td colspan="4" class='text-left' ><span id='address'></span></td>
  </tr>
</table>		
</div></li></ul>
		<div class="approve_state">	 
  <TABLE   id="list" width="100%"  class="table1 table-striped " style="font-size: 14px;">
<thead>
	
  <TR > 
  
     <!--<th   width="25%">
      <DIV align=center><b><font size="0.8">客户</font></b></DIV></th>
   
                <th   width="15%" >
      <DIV align=center><b><font size="0.8">电话</font></b></DIV></th>-->
       <th  class='text-right' >     应收金额</th>
    
    <th   class='text-right' >      已收定金</th>
 <th   class='text-right'>收装修款</th>
    <th    class='text-right'>发生日期</th>

      
      
     </TR>
</thead>      
  <TBODY>      
 
  <tfoot>
  
      
  </tfoot>
</TABLE>
 
 
						</div>
					</div>
				</div>

			</div>
			 
		</div>
	</body>
	<script src="../../../js/common/zepto.min.js"></script>
	<script src="../../../js/common/app_gqe.js"></script>
	<script type="text/javascript" src="../../../js/mui/mui.min.js"></script>
	<script type="text/javascript" src="../../../js/controllers/common.js"></script>
	<script src="../../../js/controllers/approve/finance/f_customer_detail.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="../../../js/controllers/share.js"></script>
<script type="text/javascript" src="../../../js/controllers/sharecommon.js"></script>
</html>