<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
		<!--标准mui.css-->
	<link rel="stylesheet" type="text/css" href="../../../css/mui.css" />
			<link href="../../../css/mui.indexedlist.css" rel="stylesheet">
		<link rel="stylesheet" href="../../../css/style_sc.css" />
		<link rel="stylesheet" href="../../../css/reset.css" />
	</head>

	<body>
	<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">选择明细</h1>
		</header>
		<div class="mui-content">
			<div class="mui-card">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell mui-collapse">
						<a class="mui-navigate-right" href="#">模板原始内容</a>
						<div class="mui-collapse-content">
							
								<div class="mui-input-row">
																	<div class="leave_reason">
								<textarea id="modelname" readonly="readonly" rows="" placeholder="请输入备注说明"></textarea>
							 
							</div>
								</div>
								

						</div>
					</li>
					
				</ul>
	
 
	
				<div class="news_container_1 bs approve_general">
					<div class="activ_input_edit">
						<ul>
								
							 	

							 
							 
							<li class="activ_input_list flexbox">
								<span class="activ_input_label7">@P1</span>
								<p class="flexItem text_right leave_num">
									<input id="p1" type="text" placeholder=""  />
								</p>
							
								<span class="activ_input_label7">@P2</span>
								<p class="flexItem text_right leave_num">
									<input id="p2" type="text" placeholder="" value="" />
								</p>
							</li>
							<li class="activ_input_list flexbox">
								<span class="activ_input_label7">@P3</span>
								<p class="flexItem text_right leave_num">
									<input id="p3" type="text" placeholder="" value="" />
								</p>
							
								<span class="activ_input_label7">@P4</span>
								<p class="flexItem text_right leave_num">
									<input id="p4" type="text" placeholder="" value="" />
								</p>
							</li>
							<li class="activ_input_list flexbox">
								<span class="activ_input_label7">@P5</span>
								<p class="flexItem text_right leave_num">
									<input id="p5" type="text" placeholder="" value="" />
								</p>
							
								<span class="activ_input_label7">@P6</span>
								<p class="flexItem text_right leave_num">
									<input id="p6" type="text" placeholder="" value="" />
								</p>
							</li>
							  
							 <li class="activ_input_list flexbox">
								<span class="activ_input_label7">手机号码</span>
								<p class="flexItem text_right leave_num">
									<input id="tel" type="text" placeholder="电话号码" value="" />
								</p>
							</li>
						  
								 
							  
							<li class="activ_input_list flexbox">
								<span class="activ_input_label9">生成内容</span>
							 
							</li>
							 
								<div class="leave_reason">
								<!--<textarea id="test" readonly="readonly" rows="10" placeholder="请输入备注说明"></textarea>-->
							 <div id="test" class="btn_woapply">预览</div>
							</div>
							 
						 
						</ul>
					</div>
				 <li>
				 <div class="approve_footer">	
				 	<button id="btnSubmit" style="width: 45%;" class="mui-btn mui-btn-success">发送短信</button>
					<button id="btnshare" style="width: 45%;"  class="mui-btn mui-btn-warning">分享</button></li>
					</div>
			 
				</div>
			</div>
		</div> 
		<div id="div"></div>
		<div id="popover" class="mui-popover" style="height: 250px;">
			<div class="mui-popover-arrow"></div> 
    		<div align="center">你的消息预览</div>
    <br>
    		<textarea style="overflow-y:scroll;font-size:8px;"  id="sendsms" readonly="readonly" rows="30" placeholder="请输入备注说明"></textarea>
							 
		</div>
			</body>
	<script type="text/javascript" src="../../../js/mui/mui.min.js"></script>
	<script type="text/javascript" src="../../../js/controllers/common.js"></script>
		<script type="text/javascript" src="../../../js/controllers/share.js"></script>
<script type="text/javascript" src="../../../js/controllers/sharecommon.js"></script>
	<script>
		mui.init();
		document.getElementById("test").addEventListener("tap", function () {
        //调用隐藏/显示弹出层
        mui("#popover").popover('toggle', document.getElementById("div"));
   }) 
		var sms='';
		var p1=document.getElementById("p1");
					var p2=document.getElementById("p2");
					var p3=document.getElementById("p3");
					var p4=document.getElementById("p4");
					var p5=document.getElementById("p5");
					var p6=document.getElementById("p5");
		function getdata() {
			
			var sData = plus.webview.currentWebview();
          var   id= sData.code;
			var data = {
				type:'mx',
				strwhere:' where  a.id='+id+' '
			};
				
 		common.postglobalUrlApi('GetJPGL', data, function(response) {
				dataArray = eval(response.data);
			//alert(JSON.stringify(dataArray))
				for(var i = 0; i < dataArray.length; i++) {
					var obj = dataArray[i];
				
					var modelname=document.getElementById("modelname");
					var sendsms=document.getElementById("sendsms");
					p1.value=obj.para1;p2.value=obj.para2;p3.value=obj.para3;p4.value=obj.para4;p5.value=obj.para5;p6.value=obj.para6;
				 modelname.innerHTML	=obj.modelname; sendsms.value=obj.modelname;
				  sms=sendsms.value;
				}
					}, 'json');
			};
			
		mui.plusReady(function() {
				getdata();
		 
		common.click("btnshare", function()
		{		var content=document.getElementById("sendsms").value;
			//var url=getServerUrls('$ServerUrls').ApiUrl+'view/score_view.aspx?sfkh='+common.getQueryString("sfkh")+'&uid='+common.getQueryString("id");
					shareShow(content,'' ,'金牌管家',content,'')
		 
		});
		
		  
			
				 p1.addEventListener('focus',function(){
					//sendsms.value=sms.replace(/@p1/g,p1.value).replace(/@p2/g,p2.value).replace(/@p2/g,p3.value).replace('@p4',p4.value).replace('@p5',p5.value).replace('@p6',p6.value);
				replace_p();
				 })
				 p2.addEventListener('focus',function(){
				 	
					//sendsms.value=sms.replace(/@p2/g,p2.value).replace('@p1',p1.value).replace('@p3',p3.value).replace('@p4',p4.value).replace('@p5',p5.value).replace('@p6',p6.value);
					replace_p();
				 })
				 p3.addEventListener('focus',function(){
					//sendsms.value=sms.replace(/@p3/g,p3.value).replace('@p2',p2.value).replace('@p1',p1.value).replace('@p4',p4.value).replace('@p5',p5.value).replace('@p6',p6.value);
				replace_p();
				 })
				 p4.addEventListener('focus',function(){
					//sendsms.value=sms.replace(/@p4/g,p4.value).replace('@p2',p2.value).replace('@p3',p3.value).replace('@p1',p1.value).replace('@p5',p5.value).replace('@p6',p6.value);
				replace_p();
				 })
				 p5.addEventListener('focus',function(){
					//sendsms.value=sms.replace(/@p5/g,p5.value).replace('@p2',p2.value).replace('@p3',p3.value).replace('@p4',p4.value).replace('@p1',p1.value).replace('@p6',p6.value);
				replace_p();
				 })
				 p6.addEventListener('focus',function(){
					//sendsms.value=sms.replace('@p6',p6.value).replace('@p2',p2.value).replace('@p3',p3.value).replace('@p4',p4.value).replace('@p5',p5.value).replace('@p1',p1.value);
				replace_p();
				 })
				 
				 function replace_p()
				 {
				 		sendsms.value=sms.replace(/@p1/g,p1.value).replace(/@p2/g,p2.value).replace(/@p3/g,p3.value).replace(/@p4/g,p4.value).replace(/@p5/g,p5.value).replace(/@p6/g,p6.value);

				 }
				//提交
		common.click("btnSubmit", function() {	
				var sendsms=document.getElementById("sendsms");
				var phoneBox=document.getElementById("tel");
				
				sendsms.value=sendsms.value.replace('@p1',p1.value).replace('@p2',p2.value).replace('@p3',p3.value).replace('@p4',p4.value).replace('@p5',p5.value).replace('@p6',p6.value);
				var regex = /^1[3|4|5|8][0-9]\d{4,8}$/;
					if (!(regex.test(phoneBox.value))) {
						common.alert('手机号格式不正确');
						return;
					}
			 var p= {'name':'山山erp','fwnr':sendsms.value};
						var data = {
						tel: phoneBox.value,
						type: 4,
						para: JSON.stringify(p)
					};
                  //alert(JSON.stringify(data))
                 postajax(data,'Send_aliyunSendSMS','发送成功！！',2)
		});
		       			
		});
			
				function postajax(data,postapi,toasttip,type)
				{				
				 
					 
					common.postglobalUrlApi(postapi, data, function(response) {
						//alert(JSON.stringify(response))
						if (response.data == "200") {
							common.toast(toasttip);
						 
							
						} else {
							common.toast("服务器异常，请稍候重试..");
						}
					 
					}, 'json');
				}
			
		
	
	</script>
<!--通过#div css的top与left控制弹出层的位置-->
    <style type="text/css">
        #div {
            width: 0px;
            height: 0px;
            background: red;
            position: fixed;
            top: 50%;
            left: 50%;
        }
 
        /*移除底部或顶部三角,需要在删除此代码*/
        .mui-popover .mui-popover-arrow:after {
            width: 0px;
        }
    </style>
</html>