<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
		<title>快捷键</title>
		<link rel="stylesheet" type="text/css" href="../../../css/mui.css" />
			<link href="../../../css/mui.indexedlist.css" rel="stylesheet">
		<link rel="stylesheet" href="../../../css/style_sc.css" />
		<link rel="stylesheet" href="../../../css/reset.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">选择服务器</h1>
		</header>
			<div class="mui-content address_list"> 
			<div id='list' class="mui-indexed-list">   
				<div class="mui-indexed-list-search mui-input-row mui-search">
					<input id="search" type="search" class="mui-input-clear mui-indexed-list-search-input" placeholder="搜索:服务器名称">
				</div>
				<div id="headerList" class="mui-indexed-list-bar">
				</div>
				<div class="mui-indexed-list-alert"></div>
				<div class="mui-indexed-list-inner  shortcuts_lists">
					<div class="mui-indexed-list-empty-alert">没有数据</div>
					<ul id="UserList" class="mui-table-view">

					</ul>
				</div>
			</div>
		</div>
	 </body>
	<script type="text/javascript" src="../../../js/mui/mui.min.js"></script>
	<script type="text/javascript" src="../../../js/mui/mui.indexedlist.js"></script>
		<script type="text/javascript" src="../../../js/controllers/common.js"></script>
<script>
		mui.init();
		function getdata() {
			var data = {
			};
			var header = document.querySelector('header.mui-bar');
			var list = document.getElementById('list');
			var UserList = document.getElementById("UserList");
			// var temBody = '<li data-tags="@Header" class="mui-table-view-cell mui-indexed-list-item addlist_stafflist"><div data-value="@id" class="divClick"><img src="@titleimg"><div class="addlist_staffname"><div class="addlist_name">@UserName</div><span class="addlist_post">@DepartmentName</span></div></div><div class="addlist_makecall" data-mobile="@Mobilecall"></div><div class="addlist_makemass"  data-mobile="@Mobilemsg"></div></li>';
								var temp= ' <li  data-tags="@Header" class="mui-table-view-cell mui-indexed-list-item" > '+
					' <img src=@avatar width="30px" /> '+
					' <input type="hidden" value=@ApiUrl imgUrl=@UploadImageUrl name=@logo title=@code /> '+
					' <span>@AppName</span>'+					
				' </li>';
				common.postglobalUrlApi('GetApp_Conifg', data, function(response) {
				dataArray = eval(response.data);
				//alert(dataArray.length)
				for(var i = 0; i < dataArray.length; i++) {
					var obj = dataArray[i];
					var img=obj.Avatar;
				//	alert(img)
					if(img=='null'||img==''||img==null)
					img="../../../images/ScApp/icon/addservers.png";
					
					UserList.innerHTML += temp.replace('@Header', obj.AppName).replace('@AppName', obj.AppName).replace('@ApiUrl', obj.ApiUrl).replace('@avatar',img).replace('@UploadImageUrl', obj.UploadImageUrl).replace('@logo', obj.Logo).replace('@code', obj.Code);
				}
			list.style.height = (document.body.offsetHeight - header.offsetHeight) + 'px';
			window.indexedList = new mui.IndexedList(list);
			mui("#list").indexedList();
			}, 'json');
		}
	function getServerUrls(setName) {
		//获取服务器
		var ServerUrls = JSON.parse(localStorage.getItem(setName) || "[]");
		return ServerUrls;
	}
	function setServerUrls(setName, shortcuts_Name) {
		//设置快捷键
		localStorage.setItem(setName, JSON.stringify(shortcuts_Name));
	}
		mui('.mui-content').on("tap", 'li', function() {
			getServerUrls()
			var	 code=	this.querySelector('input').title;
			var name = this.querySelector('span').innerText;
			var openUrl = this.querySelector('input').value;
			var imgUrl = this.querySelector('input').getAttribute("imgUrl");
			var logo = this.querySelector('input').name;
		
			var btnArray = ['确定', '取消'];
		mui.prompt('请输入你的Code代码：', 'code!', '输入密码', btnArray, function(e) {
			if (e.index == 0 && code == e.value) {
			//跳转页面
			
			var ServerUrls = new Object();
			ServerUrls.Name = name;
			ServerUrls.UploadImageUrl = imgUrl;
			ServerUrls.ApiUrl = openUrl;
			ServerUrls.Logo = logo;
			ServerUrls.interfaceUrl = openUrl+'webserver/Appapi.asmx/';
			setServerUrls("$ServerUrls", ServerUrls);
			//alert(JSON.stringify(getServerUrls('$ServerUrls')))
//			common.currentWebviewHide();
//			common.loadUrl('../../../login.html');
			plus.runtime.restart();
			}
		 
		});
		
		});
		
	 
		
		mui.plusReady(function() {
				getdata();

				});
				
</script>
</html>