<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
		<title>快捷键</title>
		<link rel="stylesheet" type="text/css" href="../../../css/mui.css" />
		<link rel="stylesheet" href="../../../css/style_sc.css" />
		<link rel="stylesheet" href="../../../css/reset.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">选择服务器</h1>
		</header>
		<!--下拉刷新容器-->
		<div  id="selectcontent" class="mui-content shortcuts_lists">
			<!--<ul class="mui-table-view li">
				<li class="mui-table-view-cell">
					<img src="../../../images/ScApp/approve/aprvLeave.png" width="30px" />
					<input type="hidden" value="../approve/leave/leave_apply.html" imgUrl="../../images/ScApp/shortcutsicon/kuaijiejian_14.png" />
					<span>请假填报</span>
					
				</li>
			</ul>
			<ul class="mui-table-view li">
				<li class="mui-table-view-cell">
					<img src="../../../images/ScApp/approve/aprvOvertime.png" width="30px" />
					<input type="hidden" value="../approve/work/work_apply.html"  imgUrl="../../images/ScApp/shortcutsicon/kuaijiejian_08.png" />
					<span>加班填报</span>
				</li>
			</ul>
			<ul class="mui-table-view li">
				<li class="mui-table-view-cell">
					<img src="../../../images/ScApp/approve/aprvTime.png" width="30px" />
					<input type="hidden" value="../approve/projecthour/projecthour_apply.html"  imgUrl="../../images/ScApp/shortcutsicon/kuaijiejian_13.png" />
					<span>工时填报</span>
				</li>
			</ul>
			<ul class="mui-table-view li">
				<li class="mui-table-view-cell">
					<img src="../../../images/ScApp/approve/aprvUniversal.png" width="30px" />
					<input type="hidden" value="../approve/generalapprove/generalapprove_apply.html"  imgUrl="../../images/ScApp/shortcutsicon/kuaijiejian_09.png" />
					<span>通用审批填报</span>
				</li>
			</ul>
			<ul class="mui-table-view li">
				<li class="mui-table-view-cell">
					<img src="../../../images/ScApp/nav/Shenpi-02.png" width="30px" />
					<input type="hidden" value="../approve/list/list_waitforme.html"  imgUrl="../../images/ScApp/shortcutsicon/kuaijiejian_10.png" />
					<span>待我审批</span>
				</li>
			</ul>
			<ul class="mui-table-view li">
				<li class="mui-table-view-cell">
					<img src="../../../images/ScApp/nav/Shenpi-04.png" width="30px" />
					<input type="hidden" value="../approve/list/list_launched.html"  imgUrl="../../images/ScApp/shortcutsicon/kuaijiejian_11.png" />
					<span>我发起的</span>
				</li>
			</ul>
			<ul class="mui-table-view li">
				<li class="mui-table-view-cell">
					<img src="../../../images/ScApp/nav/Shenpi-03.png" width="30px" />
					<input type="hidden" value="../approve/list/list_sendme.html"  imgUrl="../../images/ScApp/shortcutsicon/kuaijiejian_05.png" />
					<span>抄送我的</span>
				</li>
			</ul>
			<ul class="mui-table-view li">
				<li class="mui-table-view-cell">
					<img src="../../../images/ScApp/nav/appsGg.png" width="30px" />
					<input type="hidden" value="../news/newlist.html"  imgUrl="../../images/ScApp/shortcutsicon/kuaijiejian_07.png" />
					<span>新闻公告</span>
				</li>
			</ul>
			<ul class="mui-table-view li">
				<li class="mui-table-view-cell">
					<img src="../../../images/ScApp/nav/appsHd.png" width="30px" />
					<input type="hidden" value="../activity/activity_list.html"  imgUrl="../../images/ScApp/shortcutsicon/kuaijiejian_12.png" />
					<span>活动报名</span>
				</li>
			</ul>
			<ul class="mui-table-view li">
				<li class="mui-table-view-cell">
					<img src="../../../images/ScApp/nav/appsWj.png" width="30px" />
					<input type="hidden" value="../questionnaire/questionnairelist.html"  imgUrl="../../images/ScApp/shortcutsicon/kuaijiejian_06.png" />
					<span>问卷调查</span>
				</li>
			</ul>-->
			<!--<ul class="mui-table-view li">
				<li class="mui-table-view-cell">
					<img src="../../../images/ScApp/nav/RichengGuanli.png" width="30px" />
					<input type="hidden" value="../calendar/calendar_list.html"  imgUrl="../../images/ScApp/shortcutsicon/KjjRicheng.png" />
					<span>日程管理</span>
				</li>
			</ul>-->
		</div>
	</body>
	<script type="text/javascript" src="../../../js/mui/mui.min.js"></script>
	<script type="text/javascript" src="../../../js/controllers/common.js"></script>
<script>
		mui.init();
		function getdata() {
			var data = {
			};
			var list = document.getElementById("selectcontent");
			 
								var temp='	<ul class="mui-table-view li"> '+
				  ' <li class="mui-table-view-cell"> '+
					' <img src=@avatar width="30px" /> '+
					' <input type="hidden" value=@ApiUrl imgUrl=@UploadImageUrl name=@logo title=@code /> '+
					' <span>@AppName</span>'+					
				' </li>';
				common.postglobalUrlApi('GetApp_Conifg', data, function(response) {
				dataArray = eval(response.data);
				//alert(dataArray.length)
				for(var i = 0; i < dataArray.length; i++) {
					var obj = dataArray[i];
					var img=obj.Avatar;
				//	alert(img)
					if(img=='null'||img==''||img==null)
					img="../../../images/ScApp/icon/duration.png";
					
					list.innerHTML += temp.replace('@AppName', obj.AppName).replace('@ApiUrl', obj.ApiUrl).replace('@avatar',img).replace('@UploadImageUrl', obj.UploadImageUrl).replace('@logo', obj.Logo).replace('@code', obj.Code);
				}
			}, 'json');
		}
	function getServerUrls(setName) {
		//获取服务器
		var ServerUrls = JSON.parse(localStorage.getItem(setName) || "[]");
		return ServerUrls;
	}
	function setServerUrls(setName, shortcuts_Name) {
		//设置快捷键
		localStorage.setItem(setName, JSON.stringify(shortcuts_Name));
	}
		mui('.mui-content').on("tap", 'li', function() {
			getServerUrls()
			var	 code=	this.querySelector('input').title;
			var name = this.querySelector('span').innerText;
			var openUrl = this.querySelector('input').value;
			var imgUrl = this.querySelector('input').getAttribute("imgUrl");
			var logo = this.querySelector('input').name;
			alert(code)
			var btnArray = ['确定', '取消'];
		mui.prompt('请输入你的Code代码：', 'code!', '输入密码', btnArray, function(e) {
			if (e.index == 0 && code == e.value) {
			//跳转页面
			
			var ServerUrls = new Object();
			ServerUrls.Name = name;
			ServerUrls.UploadImageUrl = imgUrl;
			ServerUrls.ApiUrl = openUrl;
			ServerUrls.Logo = logo;
			ServerUrls.interfaceUrl = openUrl+'webserver/Appapi.asmx/';
			setServerUrls("$ServerUrls", ServerUrls);
			//alert(JSON.stringify(getServerUrls('$ServerUrls')))
//			common.currentWebviewHide();
//			common.loadUrl('../../../login.html');
			plus.runtime.restart();
			}
			alert(e.index)
			alert(e.value)
		});
		
		});
		
	 
		
		mui.plusReady(function() {
				getdata();

				});
				
</script>
</html>