<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
		<title>积分管理</title>
		<link rel="stylesheet" type="text/css" href="../../css/mui.css" />
		<link rel="stylesheet" href="../../css/list.css" />
		<link rel="stylesheet" href="../../css/style_sc.css" />
		<link rel="stylesheet" href="../../css/reset.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">积分管理</h1>
			<!--<i class="btn_post_activ">发布活动</i>-->
		</header>
		<div class="mui-content">
			<div class="container">
				<div class="list_news">
					<div class="news_title activ_title">
						<ul>
							<li class="unread read_active" id="NRed">默认<i class="news_hint h"></i></li>
							<!--<li class="all_acti">当季</li>
							<li class="mine_acti">当年</li>-->
							<div class="filtrate_btn">排名
								</div>
							<!--<li class="mine_acti">我发布的</li>-->
						</ul>
					</div>
					<div id="pullrefresh" class="mui-scroll-wrapper activity ">
						<div class="mui-scroll">
						<!--	<div id='list' class="sc_cells sc_cells_access activ_content">-->
							<div class="sc_cells sc_cells_access activ_content approve_overtime" id="list">

							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div id="diolog_shade" class="diolog_shade hide"></div>
			<div id="eat_diolog" class="diolog_agree p br bs hide">
			<div class="eat_allowance_diolog">
				<h4 id="">选择日期</h4>
				<div class="eat_close oClose"></div>
				
				
					<div class="mui-content container">
			<div class="news_container">
				<div class="news_container_1 bs approve_general">
					<div class="activ_input_edit">
						<ul>
								<li class="activ_input_list  flexbox">
				<p id="pThree" style="width: 50%;"  class="choose_eattime">默认</p>
				<p id="pTwo" style="width: 50%;" class="">当年</p>
				
						</li>
					<li class="activ_input_list  flexbox">
						<p id="pNone" style="width: 50%;" class="">当月</p>
				<p id="pOne" style="width: 50%;">当季</p>
						</li>
					
				<li class="activ_input_list  flexbox">
					
								<span class="activ_input_label2"> 开始日期</span>
								<p id="pickDateBtnClickb" class="flexItem">
									<span id="pickDateBtnb" type="button"></span>
								</p>
							</li>
						<li class="activ_input_list  flexbox">
								<span class="activ_input_label2"> 结束日期</span>
								<p id="pickDateBtnClicke" class="flexItem">
									<span id="pickDateBtne" type="button"></span>
								</p>
							</li>
						</ul>
						
						</div>
						</div>
						<div id="btnSubmit" class="btn_woapply">自定义搜索</div>
						</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../js/mui/mui.js"></script>
	<script type="text/javascript" src="../../js/common/zepto.min.js"></script>
	<script type="text/javascript" src="../../js/controllers/common.js"></script>
	<script type="text/javascript" src="../../js/controllers/activity/activity_list.js"></script>

</html>