<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" href="../../css/list.css" />
		<link rel="stylesheet" href="../../css/style_sc.css" />
		<link rel="stylesheet" href="../../css/reset.css" />
		<link rel="stylesheet" href="../../css/preview_image.css" />
		<!--<link rel="stylesheet" href="../../../css/frozen.css" />-->
		<title>客户申请</title>
	</head>

	<body>

		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">客户新增</h1>
		</header>
		<div class="mui-content container">
			<div class="ui-progress">
				<span id="bar" style="width:0%"></span>
			</div>
			<div class="news_container">
				<div class="news_container_1 bs">
					<div class="activ_input_edit leave_apply_edit">
						<ul>
							<li class="activ_input_list  flexbox">
								<span class="activ_input_label6">客户类型</span>
								<p class="flexItem join_object leave_type">
									<select id="khlxType" class="" placeholder="请选择">
										<option value="">请选择</option>
									</select>
								</p>
							</li>
							<li class="activ_input_list  flexbox">
								<span class="activ_input_label10">业务员</span>
								<p class="flexItem join_object leave_type">
									<select id="ywyType" class="" placeholder="请选择">
										<option value="">请选择</option>
									</select>
								</p>
							</li>
							<li class="activ_input_list flexbox">
								<span class="activ_input_label7">客户名称</span>
								<p class="flexItem text_right leave_num">
									<input id="khmcTitle" type="text" placeholder="" value="" />
								</p>
							</li>
							<li class="activ_input_list flexbox">
								<span class="activ_input_label7">客户电话 </span>
								<p class="flexItem text_right leave_num">
									<input id="telTitle" type="text" placeholder="" value="" />
								</p>
							</li>
								<li class="activ_input_list flexbox">
								<span class="activ_input_label7">楼号</span>
								<p class="flexItem text_right leave_num">
									<input id="lhTitle" type="text" placeholder="" value="" />
								</p>
							</li>
							<li class="activ_input_list flexbox">
								<span class="activ_input_label7">单元/房号</span>
								<p class="flexItem text_right leave_num">
									<input id="adressTitle" type="text" placeholder="/" value="" />
								</p>
							</li>
									<li class="activ_input_list  flexbox">
								<span class="activ_input_label10">楼盘</span>
								<p class="flexItem join_object leave_type">
									<select id="lpType" class="" placeholder="请选择">
										<option value="">请选择</option>
									</select>
								</p>
							</li>
								<li class="activ_input_list  flexbox">
								<span class="activ_input_label10">户型</span>
								<p class="flexItem join_object leave_type">
									<select id="hxType" class="" placeholder="请选择">
										<option value="">请选择</option>
									</select>
								</p>
							</li>
							<div class="leave_reason">
								<textarea id="bzContent" rows="" placeholder="请输入备注说明"></textarea>
							 
							</div>
							<div class="clear_float"></div>
							 
<!--							 
							<li id="icon-ccUser" class="activ_input_list flexbox approve_pri_li">
								<span class="activ_input_label11 approve_pri">相关人</span>
								<p id="ccUser" class="flexItem join_object text_right approve_per"></p>
							</li>-->
						</ul>
					</div>

					<div id="btnSubmit" class="btn_woapply">提交</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="../../js/mui/mui.min.js"></script>
		<script type="text/javascript" src="../../js/controllers/common.js"></script>
		<script src="../../js/controllers/addList/activity_apply.js" type="text/javascript" charset="utf-8"></script>
		<!--<script type="text/javascript">
			var bar = document.getElementById("bar");
			var timeout;

			function run() {
				bar.style.width = parseInt(bar.style.width) + 1 + "%";
				if (bar.style.width == "70%") {
					//window.clearTimeout(timeout);
					//barDisplay();
					return;
				}
				timeout = window.setTimeout("run()", 50);
			}

			function barDisplay() {
				bar.style.display = 'none';
			}
			window.onload = function() {
				run();
			}
		</script>-->

	</body>

</html>