<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
		<title>积分管理</title>
		<link rel="stylesheet" type="text/css" href="../../css/mui.css" />
		<link rel="stylesheet" href="../../css/list.css" />
		<link rel="stylesheet" href="../../css/style_sc.css" />
		<link rel="stylesheet" href="../../css/reset.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a id="icon-menu" class="mui-action-menu mui-icon mui-icon-search mui-pull-left departColor">
				<i class="news_botton_hint h"></i>
			</a>
			<h1 id="title" class="mui-title">客户列表</h1>
		</header>
		<div class="mui-content">
			<div class="container">
				<div class="list_news">
				 
					<div id="pullrefresh" class="mui-scroll-wrapper activity ">
						<div class="mui-scroll">
						<!--	<div id='list' class="sc_cells sc_cells_access activ_content">-->
							<div class="sc_cells sc_cells_access activ_content approve_overtime" id="list">

							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	<script type="text/javascript" src="../../js/mui/mui.js"></script>
	<script type="text/javascript" src="../../js/common/zepto.min.js"></script>
	<script type="text/javascript" src="../../js/controllers/common.js"></script>
		<script type="text/javascript" src="../../js/controllers/addList/addList_all_list.js"></script>
</html>