<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
			<link rel="stylesheet" type="text/css" href="../../../css/mui.css" />
		<link rel="stylesheet" href="../../../css/list.css" />
		<link rel="stylesheet" href="../../../css/style_sc.css" />
		<link rel="stylesheet" href="../../../css/reset.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">全景图</h1>
			<!--<i class="btn_post_activ">发布活动</i>-->
		</header>
		<div class="mui-content"></div>
	</body>
		<script type="text/javascript" src="../../../js/mui/mui.js"></script>
	<script type="text/javascript" src="../../../js/common/zepto.min.js"></script>
	<script type="text/javascript" src="../../../js/controllers/common.js"></script>
	
	<script type="text/javascript">
		//启用双击监听
		mui.init({
			gestureConfig:{
				doubletap:true
			},
			subpages:[{ 
				url:'pullrefresh_sub.html?type=qjt',
				id:'pullrefresh_sub.html',
				styles:{
					top: '45px',
					bottom: '0px', 
				}
			}] 
		});
	
		var contentWebview = null;
		document.querySelector('header').addEventListener('doubletap',function () {
			if(contentWebview==null){
				contentWebview = plus.webview.currentWebview().children()[0];
			}
			contentWebview.evalJS("mui('#pullrefresh').pullRefresh().scrollTo(0,0,100)");
		});
	</script>

</html>