<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" href="../../css/list.css" />
		<link rel="stylesheet" href="../../css/style_sc.css" />
		<link rel="stylesheet" href="../../css/reset.css" />
		<title>经典案例</title>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">财务管理</h1>
		</header>
		<div class="mui-content">
			<div class="container">
				<div class="approve_nav">
					<!--<div class="approve_lists">
						<a>
							<div id="gai" class="approve_list approve_list0">
								<p>该我审批</p>
							</div>
							<i class="posi_hint h"></i>
						</a>
						<a>
							<div id="chao" class="approve_list approve_list1">
								<p>抄送我的</p>
							</div>
						</a>
						<a>
							<div id="my" class="approve_list approve_list2">
								<p>我发起的</p>
							</div>
						</a>
					</div>-->
					<div class="approve_module">
						<a>
							<div id="kxreport" class="approve_list workstand_listT3">
								<p>款项报表</p>
							</div>
						</a>
						<a>
							<div id="szreport" class="approve_list workstand_listT2">
								<p>收支报表</p>
							</div>
						</a>
					 
						<a>
							<div id="more" class="approve_list approve_list7">
								<p class="approve_addmore">添加更多</p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="../../js/mui/mui.min.js"></script>
		<script type="text/javascript" src="../../js/controllers/common.js"></script>
		<script type="text/javascript" src="../../js/common/zepto.min.js"></script>
		<script type="text/javascript">
		
//			//审核
			common.click('kxreport', function() {
//				common.Verifauthority(r_points, function(result) { //积分
//				 	if(result)
				 		var webview = common.getTemplate('kxreport', '../approve/finance/f_customer_money.html'); //第二层webview			
	 		//});
	 		});
			//确认
			common.click('szreport', function() {
//				common.Verifauthority(r_points, function(result) { //积分
//				 	if(result)
				 		var webview = common.getTemplate('szreport', '../approve/finance/f_customer_receive2.html'); //第二层webview			
					//common.loadUrl('../activity/activity_list.html');
			//});
			});
			 
			//更多
			common.click('more', function() {
				common.toast('更多应用请联系提供商..');
			});
			common.backOfHideCurrentWebview();
		</script>
	</body>

</html>